<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Jquery Examples</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="Jquery Examples">
<meta name="author" content="Dinesh Kumar Karn && Rajan Upadhyay">
<meta name="robots" content="index, follow">
<!-- icons -->
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<!-- Override CSS file - add your own CSS rules -->
<link rel="stylesheet" href="assets/css/styles.css">

<div class="header">
	<h1 class="header-heading">Jquery Examples</h1>
</div>
<div class="nav-bar">
	<ul class="nav">
		<li>
			<a href="index.html">Home</a>
		</li>
		<li>
			<a href="about.html">About</a>
		</li>
		<li>
			<a href="contact.html">Contact Us</a>
		</li>
	</ul>
</div>